
# Created by https://www.toptal.com/developers/gitignore/api/cuda
# Edit at https://www.toptal.com/developers/gitignore?templates=cuda

.vscode

hw1/result
hw1/src/MatAdd
hw2/src/vecMaxAbs
hw3/src/poisson
hw4/src/dot_product/vecDot_ngpu
hw4/src/heat_diffusion/heat_diffusion

### CUDA ###
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# End of https://www.toptal.com/developers/gitignore/api/cuda